streamlit
requests
selenium
webdriver-manager
pandas
#json
#pickle
#random
#time
git+https://github.com/ejde/fantraxapi

# For Recommendations
langchain_google_genai
langchain_openai
langchain
langchain-community
tavily-python